2-Gmail Poller.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b9bb0b75-121a-43ee-9f27-d24920e384f9",
      "name": "Schedule Trigger — Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2528,
        496
      ]
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/settings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "eq.gmail_last_poll"
            },
            {
              "name": "select",
              "value": "value"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e54740ab-55c3-4925-902b-3b870b16b651",
      "name": "Get Last Poll Timestamp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract lastPollTime and compute Gmail search query format\nconst raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : (Array.isArray(raw.body) ? raw.body : []);\n\nlet lastPollTime;\nif (rows.length > 0 && rows[0].value) {\n  lastPollTime = rows[0].value;\n} else {\n  // Default: 5 minutes ago if no record exists\n  lastPollTime = new Date(Date.now() - 5 * 60 * 1000).toISOString();\n}\n\n// Format for Gmail search: YYYY/MM/DD\nconst d = new Date(lastPollTime);\nconst gmailAfter = `${d.getFullYear()}/${String(d.getMonth()+1).padStart(2,'0')}/${String(d.getDate()).padStart(2,'0')}`;\n\n// Also compute epoch seconds for Gmail API after: parameter\nconst epochSeconds = Math.floor(d.getTime() / 1000);\n\nreturn [{\n  json: {\n    lastPollTime: lastPollTime,\n    gmailAfterDate: gmailAfter,\n    epochSeconds: epochSeconds,\n    nowISO: new Date().toISOString()\n  }\n}];"
      },
      "id": "edfa288c-b21c-4f0e-b1cb-be7ff7f2866d",
      "name": "Parse Poll Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        496
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/settings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "eq.gmail_last_poll"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ value: $json.nowISO }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6ff8cb07-d91a-4c40-9ee9-4ae95029919d",
      "name": "Update Poll Timestamp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeSpamTrash": false
        }
      },
      "id": "232ce09f-ddc8-464f-b4af-32619532bd69",
      "name": "Gmail — Get New Messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1632,
        496
      ],
      "webhookId": "7295b945-a4d8-427c-abfa-0d96554778ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "HHZP2v5q3JOlG1Zw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-has-emails",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28dce672-5d8d-4bc2-bfec-6fa76d3b12ba",
      "name": "IF — Any New Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7369da99-df3e-427f-947c-268eb5f6ac2b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -736,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/email_threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gmail_message_id",
              "value": "=eq.{{ $json.id }}"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8886e158-b429-49cc-99f3-4c20f93b8775",
      "name": "Check If Already Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-not-processed",
              "leftValue": "={{ Array.isArray($json) ? $json.length : (Array.isArray($json.body) ? $json.body.length : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3f71311-8eb5-4bc1-856e-894f7522da37",
      "name": "IF — Not Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract full email details from Gmail item\nconst item = $node['Split In Batches'].json;\n\nconst messageId = item.id || '';\nconst threadId = item.threadId || '';\n\n// ✅ Fixed: Capital S for Subject\nconst subject = item.Subject || item.subject || '(no subject)';\n\n// ✅ Fixed: Body fallback since textPlain not in payload\nconst body = item.textPlain || item.textHtml || item.snippet || '';\n\n// ✅ Fixed: Capital F for From\nconst fromHeader = item.From || item.from || '';\nlet senderName = '';\nlet senderEmail = '';\n\nif (fromHeader) {\n  const match = fromHeader.match(/^(.+?)\\s*<(.+?)>$/);\n  if (match) {\n    senderName = match[1].replace(/\"/g, '').trim();\n    senderEmail = match[2].trim();\n  } else {\n    senderEmail = fromHeader.trim();\n    senderName = senderEmail.split('@')[0];\n  }\n}\n\n// ✅ Fixed: labels is array of objects {id, name} not strings\nconst labelsRaw = item.labels || item.labelIds || [];\nconst labels = labelsRaw.map(l => typeof l === 'object' ? l.name || l.id : l);\n\nreturn [{\n  json: {\n    messageId: messageId,\n    threadId: threadId,\n    subject: subject,\n    body: body.substring(0, 3000),\n    senderName: senderName,\n    senderEmail: senderEmail,\n    labels: labels,\n    snippet: item.snippet || ''\n  }\n}];"
      },
      "id": "f0c7aeae-d3eb-4d80-bf85-85b356923fcb",
      "name": "Extract Email Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Subject: {{ $json.subject }}\\nFrom: {{ $json.senderName }} <{{ $json.senderEmail }}>\\n\\nBody:\\n{{ $json.body }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You classify emails for a professional landscaping and gardening company.\\n\\nCUSTOMER — A real person asking about garden services, lawn care, landscaping, requesting a quote, asking if we do their area, or any genuine customer inquiry.\\n\\nSUPPLIER — A business or individual selling products or services TO the company. Trade suppliers, tool vendors, B2B offers.\\n\\nSPAM — Cold sales outreach, marketing newsletters, lead-selling services (\\\"we have customers for you\\\"), phishing, mass mailings, discount offers.\\n\\nINTERNAL — Automated notifications from Google, Stripe, banks, software tools, booking confirmations, receipts.\\n\\nOTHER — Anything that genuinely doesn't fit the above.\\n\\nIMPORTANT:\\n- \\\"We can get you more customers\\\" = SPAM not CUSTOMER\\n- \\\"I want a new garden\\\" = CUSTOMER\\n- Marketing agency offering services = SPAM\\n\\nRespond with JSON only:\\n{\\n  \\\"classification\\\": \\\"CUSTOMER\\\",\\n  \\\"confidence\\\": 0.97,\\n  \\\"reasoning\\\": \\\"Person asking for quote on garden renovation\\\"\\n}"
        }
      },
      "id": "2e906102-2ae3-4b23-92f5-e4fc03823dd1",
      "name": "Claude — Classify Email",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        160,
        144
      ],
      "credentials": {
        "anthropicApi": {
          "id": "Uxj5WgLtWNZRaMuE",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Classification Response\\nlet classification = 'OTHER';\\nlet confidence = 0;\\nlet reasoning = '';\\n\\ntry {\\n  let rawContent = $input.first().json.content?.[0]?.text\\n                || $input.first().json.message?.content\\n                || $input.first().json.text\\n                || '';\\n\\n  if (typeof rawContent === 'string') {\\n    rawContent = rawContent.replace(/```json\\\\n?|\\\\n?```/g, '').trim();\\n  }\\n\\n  let parsed;\\n  if (typeof rawContent === 'object' && rawContent !== null) {\\n    parsed = rawContent;\\n  } else {\\n    parsed = JSON.parse(rawContent);\\n  }\\n\\n  classification = parsed.classification || 'OTHER';\\n  confidence = parsed.confidence || 0;\\n  reasoning = parsed.reasoning || '';\\n\\n  const validTypes = ['CUSTOMER', 'SUPPLIER', 'SPAM', 'INTERNAL', 'OTHER'];\\n  if (!validTypes.includes(classification)) classification = 'OTHER';\\n\\n} catch (e) {\\n  classification = 'OTHER';\\n  confidence = 0;\\n  reasoning = 'Failed to parse: ' + e.message;\\n}\\n\\nconst emailData = $node['Extract Email Details'].json;\\n\\nreturn [{\\n  json: {\\n    classification, confidence, reasoning,\\n    messageId: emailData.messageId, threadId: emailData.threadId,\\n    subject: emailData.subject, body: emailData.body,\\n    senderName: emailData.senderName, senderEmail: emailData.senderEmail\\n  },\\n  pairedItem: { item: 0 }\\n}];"
      },
      "id": "b2125d3f-b724-40ab-8ef8-588bad38fea0",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        144
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $node['Parse Classification'].json.messageId }}",
        "labelIds": "={{ [$json.labelId] }}"
      },
      "id": "4d6ca411-658a-416c-8b1b-2aa9ad10c472",
      "name": "Gmail — Add Classification Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        144
      ],
      "webhookId": "12ae5344-1dda-4d65-990d-139e05db1f24",
      "credentials": {
        "gmailOAuth2": {
          "id": "HHZP2v5q3JOlG1Zw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Parse Classification'].json.classification }}",
                    "rightValue": "CUSTOMER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f9e4c845-b1d7-454e-8a48-c028d474f10f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Parse Classification'].json.classification }}",
                    "rightValue": "CUSTOMER",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1584269e-85e2-4aee-ad54-abdaf48fc862"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "723318c1-b9a1-48ce-a33e-649767d7a295",
      "name": "Switch — Route by Classification",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $node['Parse Classification'].json['messageId'] }}"
      },
      "id": "076fc53a-f643-48c4-b1a6-6d1b5707b8e4",
      "name": "Gmail — Mark Customer Email as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        48
      ],
      "webhookId": "5bf1308b-1a1d-46d4-bece-4050db411dbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "HHZP2v5q3JOlG1Zw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/company_knowledge",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "category,key,value"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-knowledge-001",
      "name": "Fetch Company Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build context for AI draft with company knowledge\\nconst rawKB = $input.first().json;\\nconst emailData = $node['Parse Classification'].json;\\n\\nlet rows = [];\\nif (Array.isArray(rawKB)) rows = rawKB;\\nelse if (Array.isArray(rawKB.body)) rows = rawKB.body;\\nelse if (rawKB.category) rows = [rawKB];\\n\\nconst kb = {};\\nfor (const r of rows) {\\n  if (!kb[r.category]) kb[r.category] = {};\\n  kb[r.category][r.key] = r.value;\\n}\\n\\nlet block = '## COMPANY KNOWLEDGE BASE\\\\n';\\nfor (const cat of ['company_info','services','service_area','pricing']) {\\n  if (kb[cat]) {\\n    block += '\\\\n### ' + cat.replace('_',' ').toUpperCase() + '\\\\n';\\n    for (const [k,v] of Object.entries(kb[cat])) block += '- ' + k + ': ' + v + '\\\\n';\\n  }\\n}\\nif (kb.signature?.default) block += '\\\\n### EMAIL SIGNATURE\\\\n' + kb.signature.default;\\n\\nconst userMsg = `Customer name: ${emailData.senderName}\\\\nEmail: ${emailData.senderEmail}\\\\nSubject: ${emailData.subject}\\\\n\\\\nMessage:\\\\n${emailData.body}`;\\n\\nreturn [{ json: {\\n  knowledgeBlock: block, userMessage: userMsg,\\n  subject: emailData.subject, messageId: emailData.messageId,\\n  threadId: emailData.threadId, senderName: emailData.senderName,\\n  senderEmail: emailData.senderEmail, classification: emailData.classification\\n}}];"
      },
      "id": "build-draft-context-001",
      "name": "Build Draft Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        48
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "=You write email responses for a landscaping company.\\n\\n{{ $json.knowledgeBlock }}\\n\\n## YOUR TASK\\nWrite a warm, professional reply directly to the customer that:\\n1. Opens by thanking them by name\\n2. Answers their specific question using company knowledge\\n3. Asks for their phone number to discuss the project (crucial!)\\n\\nOutput ONLY the email body text. Keep it under 150 words."
        }
      },
      "id": "claude-draft-001",
      "name": "Claude — Generate First Reply",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2304,
        48
      ],
      "credentials": {
        "anthropicApi": {
          "id": "Uxj5WgLtWNZRaMuE",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract draft content from Claude response\\nconst rawContent = $input.first().json.content?.[0]?.text\\n                || $input.first().json.message?.content\\n                || $input.first().json.text || '';\\nconst emailData = $node['Parse Classification'].json;\\n\\nlet extractedSubject = emailData.subject || '';\\nlet draftBody = rawContent;\\n\\nconst subjectMatch = rawContent.match(/^Subject:\\\\s*(.+)\\\\n/);\\nif (subjectMatch) {\\n  extractedSubject = subjectMatch[1].trim();\\n  draftBody = rawContent.replace(/^Subject:\\\\s*.+\\\\n\\\\n?/, '').trim();\\n}\\n\\nreturn [{ json: {\\n  draftBody, subject: extractedSubject,\\n  messageId: emailData.messageId, threadId: emailData.threadId,\\n  senderName: emailData.senderName, senderEmail: emailData.senderEmail,\\n  classification: emailData.classification\\n}}];"
      },
      "id": "c957ddfc-e55e-4edf-b5e2-17751ca6060f",
      "name": "Prepare Draft Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/email_threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  gmail_thread_id: $node['Parse Classification'].json.threadId, \n  gmail_message_id: $node['Parse Classification'].json.messageId, \n  classification: 'CUSTOMER', \n  subject: $node['Prepare Draft Data'].json.subject, \n  sender_email: $node['Prepare Draft Data'].json.senderEmail, \n  sender_name: $node['Prepare Draft Data'].json.senderName, \n  draft_created: false, \n  status: 'active',\n  bot_enabled: true,\n  qualification_step: 1,\n  processed_at: new Date().toISOString() \n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "26e0e8dc-c68d-4657-a2ab-fe08a850c036",
      "name": "Save Email Thread — Customer (Start Bot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3104,
        144
      ],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/email_threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ gmail_thread_id: $json.threadId, gmail_message_id: $json.messageId, classification: $json.classification, subject: $json.subject, sender_email: $json.senderEmail, sender_name: $json.senderName, draft_created: false, created_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a6d352d2-0321-42dd-91fd-db58654a4cd4",
      "name": "Save Email Thread — Other (No Draft)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "639564fd-1c4a-4601-8b05-9546c29a80bf",
      "name": "No Operation — No New Emails",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -736,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Global Error Handler for Gmail Poller\nconst error = $input.first().json;\nconst errorMessage = error.message || error.error || 'Unknown error';\nconst errorNode = error.node || error.nodeName || 'Unknown node';\n\nreturn [{\n  json: {\n    type: 'error',\n    description: String(errorMessage).substring(0, 500),\n    metadata: {\n      workflow: 'gmail-poller',\n      node: errorNode,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "f728ff11-d7dc-4b66-94b2-f88b0d4549ea",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/system_events",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "nodeCredentialType": "supabaseApi"
      },
      "id": "a5195557-5e34-4116-b387-1fdc8d9d7568",
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b7f4d08d-5f49-47e1-91e6-673439fa15b0",
      "name": "No Operation — Batch Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        -48
      ]
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        144
      ],
      "id": "71336dde-917d-4fbf-9b35-05d14b2dfe1c",
      "name": "Get many labels",
      "webhookId": "4971ad89-b7f4-49a3-929e-675933adf730",
      "credentials": {
        "gmailOAuth2": {
          "id": "HHZP2v5q3JOlG1Zw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all labels\nconst allLabels = $('Get many labels').all().map(i => i.json);\n\n// Get classification from previous node\nconst classification = $('Parse Classification').first().json.classification;\n\n// Find matching label\nconst labelName = classification;\nconst matchedLabel = allLabels.find(l => l.name === labelName);\n\nif (!matchedLabel) {\n  throw new Error(`Label not found: ${labelName} — create it in Gmail first`);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    labelId: matchedLabel.id  // ✅ Real ID like \"Label_123456\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        144
      ],
      "id": "ab609739-e98d-41bb-bbc6-6668ffe32095",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.draftBody }}",
        "options": {},
        "operation": "send"
      },
      "id": "fdb71b74-9804-404d-ae73-22252e10074a",
      "name": "Gmail — Send First Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        48
      ],
      "webhookId": "39eaa6a3-38b4-4f93-979a-5763d620177c",
      "credentials": {
        "gmailOAuth2": {
          "id": "HHZP2v5q3JOlG1Zw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1184,
        496
      ],
      "id": "3b45ca5f-0aa0-46cd-b51a-9ba1430db44d",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Filter emails that don't have classification labels yet\nconst classificationLabels = ['CUSTOMER', 'SUPPLIER', 'SPAM', 'INTERNAL', 'OTHER'];\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  \n  // Get label names from labels array (handles both object and string format)\n  const labelNames = (email.labels || []).map(l => \n    typeof l === 'object' ? (l.name || l.id) : l\n  );\n\n  // Check if any classification label already exists\n  const hasClassificationLabel = labelNames.some(label => \n    classificationLabels.some(cl => label.includes(cl))\n  );\n\n  // ✅ Only pass through emails WITHOUT classification labels\n  if (!hasClassificationLabel) {\n    results.push({\n      json: email,\n      pairedItem: { item: item.index ?? results.length }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        496
      ],
      "id": "2a79e109-6769-4982-a300-b36e3d69de0f",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/email_messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ thread_id: $node['Save Email Thread — Customer (Start Bot)'].json[0].id, gmail_message_id: $node['Gmail — Send First Reply'].json.id, direction: 'outbound', content: $node['Prepare Draft Data'].json.draftBody, sent_by_bot: true, sent_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "dfa9b194-c2d7-4d14-82c3-2b863e248ca2",
      "name": "Save Outbound Email Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger — Every 1 Minute": {
      "main": [
        [
          {
            "node": "Get Last Poll Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Poll Timestamp": {
      "main": [
        [
          {
            "node": "Parse Poll Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Poll Timestamp": {
      "main": [
        [
          {
            "node": "Update Poll Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Poll Timestamp": {
      "main": [
        [
          {
            "node": "Gmail — Get New Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Get New Messages": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Any New Emails?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation — No New Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "No Operation — Batch Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Already Processed": {
      "main": [
        [
          {
            "node": "IF — Not Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Not Already Processed": {
      "main": [
        [
          {
            "node": "Extract Email Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Details": {
      "main": [
        [
          {
            "node": "Claude — Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Add Classification Label": {
      "main": [
        [
          {
            "node": "Switch — Route by Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Route by Classification": {
      "main": [
        [
          {
            "node": "Gmail — Mark Customer Email as Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Email Thread — Other (No Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Mark Customer Email as Read": {
      "main": [
        [
          {
            "node": "Fetch Company Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Data": {
      "main": [
        [
          {
            "node": "Gmail — Create Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Thread — Customer (with Draft)": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Thread — Other (No Draft)": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Log Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail — Add Classification Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Create Draft Reply": {
      "main": [
        [
          {
            "node": "Save Email Thread — Customer (with Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "IF — Any New Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Classify Email": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Knowledge": {
      "main": [
        [
          {
            "node": "Build Draft Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft Context": {
      "main": [
        [
          {
            "node": "Claude — Generate Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Generate Draft": {
      "main": [
        [
          {
            "node": "Prepare Draft Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Thread — Customer (Start Bot)": {
      "main": [
        [
          {
            "node": "Save Outbound Email Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a6103a2320145fe974541bf1a458566a4cb3c085416cbbe1576bf2fa5e798d37"
  },
  "name": "2-Gmail Poller"
}