Workflow 1B — Debounce Processor.json
{
  "name": "Workflow 1B — Debounce Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "1c07ef6b-20b3-4a55-aafb-d3bd479d5738",
      "name": "Schedule Trigger — Every 15s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3008,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pending_since",
              "value": "not.is.null"
            },
            {
              "name": "bot_paused",
              "value": "eq.false"
            },
            {
              "name": "qualification_complete",
              "value": "eq.false"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8a5a551b-302e-4dff-ab13-8032e656d412",
      "name": "Find Pending Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2784,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZP7lwUJ8A61vMFPL",
          "name": "Header Auth account"
        },
        "supabaseApi": {
          "id": "Mu3plQ8MpRAvYJZM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter: only conversations where pending_since is older than 15 seconds\n// This ensures we wait for the customer to finish typing\nconst items = $input.all();\nconst results = [];\nconst now = new Date();\nconst DEBOUNCE_SECONDS = 15;\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Skip if no pending_since\n  if (!data.pending_since) continue;\n  \n  const pendingSince = new Date(data.pending_since);\n  const ageSeconds = (now.getTime() - pendingSince.getTime()) / 1000;\n  \n  // Only process if pending for at least DEBOUNCE_SECONDS\n  if (ageSeconds >= DEBOUNCE_SECONDS) {\n    results.push({\n      json: {\n        conversation_id: data.id,\n        contact_id: data.contact_id,\n        whatsapp_chat_id: data.whatsapp_chat_id,\n        bot_paused: data.bot_paused,\n        qualification_complete: data.qualification_complete,\n        qualification_step: data.qualification_step || 1,\n        collected_address: data.collected_address || null,\n        collected_wishes: data.collected_wishes || null,\n        collected_dimensions: data.collected_dimensions || null,\n        collected_phone: data.collected_phone || null,\n        collected_photos: data.collected_photos || [],\n        pending_since: data.pending_since\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [];"
      },
      "id": "7c3b59c3-973c-4aab-9724-4b0268f7a29d",
      "name": "Filter — Ready to Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{ $json.conversation_id }}"
            },
            {
              "name": "order",
              "value": "sent_at.desc"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "select",
              "value": "direction,content,type,sent_at"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "46cd0644-cb5c-40d4-957b-37b98653811c",
      "name": "Get Message History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZP7lwUJ8A61vMFPL",
          "name": "Header Auth account"
        },
        "supabaseApi": {
          "id": "Mu3plQ8MpRAvYJZM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI message with ALL new messages batched together\n// Get conversation data from the Filter node\nconst convNode = $('Filter — Ready to Process').first().json;\n\n// Get message history — use .all() to grab every message item\nlet history;\ntry {\n  const allItems = $('Get Message History').all();\n  history = allItems.map(item => item.json);\n} catch(e) {\n  history = [];\n}\n\nconst orderedHistory = [...history].reverse();\n\n// Find the last bot message index to separate old history from new messages\nlet lastBotIndex = -1;\nfor (let i = orderedHistory.length - 1; i >= 0; i--) {\n  if (orderedHistory[i].direction === 'outbound') {\n    lastBotIndex = i;\n    break;\n  }\n}\n\n// Old history = everything up to and including last bot message\n// New messages = everything after last bot message\nconst oldHistory = lastBotIndex >= 0 ? orderedHistory.slice(0, lastBotIndex + 1) : [];\nconst newMessages = lastBotIndex >= 0 ? orderedHistory.slice(lastBotIndex + 1) : orderedHistory;\n\n// Format old history — structured with direction, content, type\nconst historyStr = oldHistory.map((m, i) => {\n  return `[${i + 1}] Direction: ${m.direction} | Type: ${m.type} | Content: ${m.content}`;\n}).join('\\n');\n\n// Format new messages — structured with direction, content, type\nconst newMsgStr = newMessages.map((m, i) => {\n  const content = m.type === 'image' ? '[Photo attachment]' : m.content;\n  return `[${i + 1}] Direction: ${m.direction} | Type: ${m.type} | Content: ${content}`;\n}).join('\\n');\n\nconst hasAnyPhoto = newMessages.some(m => m.type === 'image');\n\nconst userMessage = `COLLECTED DATA:\nAddress: ${convNode.collected_address ?? 'NOT YET COLLECTED'}\nWishes: ${convNode.collected_wishes ?? 'NOT YET COLLECTED'}\nDimensions: ${convNode.collected_dimensions ?? 'NOT YET COLLECTED'}\nPhotos received: ${Array.isArray(convNode.collected_photos) ? convNode.collected_photos.length : 0}\nPhone: ${convNode.collected_phone ?? 'NOT YET COLLECTED'}\nCurrent step: ${convNode.qualification_step ?? 1}\n\nMESSAGE HISTORY:\n${historyStr || '(No prior messages)'}\n\nNEW MESSAGES FROM CUSTOMER (sent in quick succession — treat as ONE combined response):\n${newMsgStr || '(No new messages)'}\n\nHAS PHOTO ATTACHMENT IN NEW MESSAGES: ${hasAnyPhoto}`;\n\nreturn [{\n  json: {\n    userMessage: userMessage,\n    conversation_id: convNode.conversation_id,\n    contact_id: convNode.contact_id,\n    whatsapp_chat_id: convNode.whatsapp_chat_id,\n    qualification_step: convNode.qualification_step,\n    collected_address: convNode.collected_address,\n    collected_wishes: convNode.collected_wishes,\n    collected_dimensions: convNode.collected_dimensions,\n    collected_phone: convNode.collected_phone,\n    collected_photos: convNode.collected_photos\n  }\n}];"
      },
      "id": "5713c811-b628-4210-9e81-b95e8df5a0a5",
      "name": "Build OpenAI Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a friendly customer service assistant for a professional landscaping and gardening company. Your job is to qualify potential customers by collecting 5 specific pieces of information in strict order.\\n\\n## YOUR PERSONALITY\\n- Warm, professional, enthusiastic about garden projects\\n- Natural, conversational — never robotic\\n- Each response STARTS with a brief varied acknowledgment of what the customer said\\n- Keep responses SHORT: maximum 2-3 sentences\\n- Match language: English \\n\\n## STRICT QUALIFICATION STEPS — COLLECT IN THIS ORDER ONLY\\nStep 1: ADDRESS — Ask for the property address\\nStep 2: WISHES — Ask what they want done to their garden/property\\nStep 3: DIMENSIONS — Ask for dimensions as LENGTH x WIDTH in meters (e.g. \\\"8x6 meter\\\")\\nStep 4: PHOTOS — Ask them to send photos of the current situation\\nStep 5: PHONE — Ask for phone number for callback appointment\\n\\n## CRITICAL RULES\\n1. NEVER ask for something already provided — check collected data above carefully\\n2. NEVER ask for an email address — only phone number\\n3. DIMENSIONS: only accept Length x Width format. If customer says \\\"48m2\\\" respond: \\\"Super! Kunt u dit ook als lengte x breedte geven, bijv. 8x6 meter?\\\" Do not advance until valid LxW given.\\n4. PHOTOS: when customer sends image (has_attachment=true), acknowledge warmly: \\\"Geweldig, de foto's zijn ontvangen! Dan heb ik nog één vraag...\\\"\\n5. PRICE QUESTIONS: \\\"Voor een eerlijke prijs komen wij graag langs na ons gesprek. Dan kunnen wij u precies vertellen wat mogelijk is!\\\"\\n6. OFF-TOPIC questions: redirect warmly back to qualification\\n7. If customer gives multiple pieces of info at once — accept ALL of them, skip those steps, continue from next uncollected step\\n8. Vary your acknowledgment phrases — never repeat the same opener twice\\n9. IMPORTANT: The customer may send multiple messages in quick succession. Treat all NEW MESSAGES listed below as ONE combined response.\\n\\n## VALID DIMENSION FORMATS (accept these)\\n\\\"8x6\\\", \\\"8 bij 6\\\", \\\"8 meter bij 6 meter\\\", \\\"8x6 meter\\\", \\\"8 x 6 m\\\"\\nNormalize ALL to: \\\"8x6 meter\\\"\\n\\n## DECIDING WHETHER TO RESPOND\\nAnalyze the last outbound message (what the bot asked) and the latest inbound message(s) to decide if the customer seems finished responding or might still be typing more.\\n\\nSet \\\"respond\\\": false WHEN:\\n- The last outbound message asked a question, AND the latest inbound message(s) seem like an incomplete or partial answer — for example, a very short acknowledgment like \\\"ok\\\", \\\"yes\\\", \\\"moment\\\", \\\"one sec\\\", \\\"hold on\\\", or any message that does not actually answer what was asked yet.\\n\\nSet \\\"respond\\\": true WHEN:\\n- The inbound message(s) provide a clear, complete answer to what was last asked\\n- The customer asks a question back\\n- The customer provides any concrete information (address, wishes, dimensions, phone, photo)\\n- There is no clear outbound question to wait on\\n\\nWhen in doubt, set \\\"respond\\\": true — it is better to reply than to silently wait.\\n\\n## RESPOND WITH JSON ONLY — NO OTHER TEXT:\\n{\\n  \\\"messages\\\": [\\\"your single response message here\\\"],\\n  \\\"extracted\\\": {\\n    \\\"address\\\": \\\"extracted address or null\\\",\\n    \\\"wishes\\\": \\\"extracted wishes or null\\\",\\n    \\\"dimensions\\\": \\\"normalized LxW or null\\\",\\n    \\\"hasPhoto\\\": true or false,\\n    \\\"phone\\\": \\\"extracted phone or null\\\"\\n  },\\n  \\\"currentStep\\\": 1,\\n  \\\"qualificationComplete\\\": false,\\n  \\\"respond\\\": true\\n}",
              "role": "system"
            },
            {
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "befab839-8260-49a1-b74a-e6199e4cd6fd",
      "name": "OpenAI — Qualification Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1968,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "XR9xujmItcOh3eRv",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse & Validate AI Response\nconst convData = $node['Build OpenAI Message'].json;\nlet aiOutput;\ntry {\n  // Get raw content\n  let rawContent = $input.first().json.message?.content \n                || $input.first().json.choices?.[0]?.message?.content \n                || $input.first().json.text \n                || '';\n\n  // Check if already an object or needs parsing\n  if (typeof rawContent === 'object' && rawContent !== null) {\n    aiOutput = rawContent;\n  } else {\n    aiOutput = JSON.parse(rawContent);\n  }\n\n  // Validate required structure\n  if (!aiOutput.messages || !Array.isArray(aiOutput.messages) || aiOutput.messages.length === 0) {\n    throw new Error('Missing or empty messages array');\n  }\n  if (typeof aiOutput.currentStep === 'undefined') {\n    aiOutput.currentStep = convData.qualification_step || 1;\n  }\n  if (typeof aiOutput.qualificationComplete === 'undefined') {\n    aiOutput.qualificationComplete = false;\n  }\n  if (!aiOutput.extracted) {\n    aiOutput.extracted = {};\n  }\n} catch (e) {\n  aiOutput = {\n    messages: ['Er is een fout opgetreden. Probeer het opnieuw.'],\n    extracted: {},\n    currentStep: convData.qualification_step || 1,\n    qualificationComplete: false\n  };\n}\n\nreturn [{\n  json: {\n    ai_messages: aiOutput.messages,\n    ai_reply: aiOutput.messages[0],\n    extracted_address: aiOutput.extracted.address || null,\n    extracted_wishes: aiOutput.extracted.wishes || null,\n    extracted_dimensions: aiOutput.extracted.dimensions || null,\n    extracted_hasPhoto: aiOutput.extracted.hasPhoto || false,\n    extracted_phone: aiOutput.extracted.phone || null,\n    currentStep: aiOutput.currentStep,\n    qualificationComplete: aiOutput.qualificationComplete,\n    conversation_id: convData.conversation_id,\n    contact_id: convData.contact_id,\n    whatsapp_chat_id: convData.whatsapp_chat_id,\n    collected_address: convData.collected_address,\n    collected_wishes: convData.collected_wishes,\n    collected_dimensions: convData.collected_dimensions,\n    collected_phone: convData.collected_phone,\n    collected_photos: convData.collected_photos\n  }\n}];"
      },
      "id": "77677c82-662f-496b-9f32-dc2427167e1d",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        144
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.conversation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ collected_address: $json.extracted_address || $json.collected_address || null, collected_wishes: $json.extracted_wishes || $json.collected_wishes || null, collected_dimensions: $json.extracted_dimensions || $json.collected_dimensions || null, collected_phone: $json.extracted_phone || $json.collected_phone || null, qualification_step: $json.currentStep, qualification_complete: $json.qualificationComplete, pending_since: null, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "e324881f-6506-4cb7-904c-e90572ecaf4b",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZP7lwUJ8A61vMFPL",
          "name": "Header Auth account"
        },
        "supabaseApi": {
          "id": "Mu3plQ8MpRAvYJZM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate Human-like Delay\nconst aiReply = $node['Parse AI Response'].json.ai_reply || '';\nconst messageLength = aiReply.length;\n\nlet delay = 2000 + (messageLength * 30) + (Math.random() * 2000);\ndelay = Math.min(delay, 10000);\ndelay = Math.max(delay, 1500);\n\nreturn [{\n  json: {\n    delay_ms: Math.floor(delay),\n    delay_seconds: Math.floor(delay / 1000),\n    message: aiReply,\n    conversation_id: $node['Parse AI Response'].json.conversation_id,\n    whatsapp_chat_id: $node['Parse AI Response'].json.whatsapp_chat_id,\n    qualificationComplete: $node['Parse AI Response'].json.qualificationComplete\n  }\n}];"
      },
      "id": "707119f9-1d58-4fe1-872d-48a8cf897d61",
      "name": "Calculate Human Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        144
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_seconds }}"
      },
      "id": "7d4d6a7c-26af-4246-945e-0548f73abd71",
      "name": "Wait — Human Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -784,
        144
      ],
      "webhookId": "w1b-debounce-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api20.unipile.com:15040/api/v1/chats/{{ $json.whatsapp_chat_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.message }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "04155d76-005b-4291-975d-fa0019da64a4",
      "name": "Send WhatsApp Reply via Unipile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZP7lwUJ8A61vMFPL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_id: $node['Parse AI Response'].json.conversation_id, direction: 'outbound', content: $node['Parse AI Response'].json.ai_reply, sent_by_bot: true, sent_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "7ebc0ee4-001b-4b44-82ed-050ac64f4589",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZP7lwUJ8A61vMFPL",
          "name": "Header Auth account"
        },
        "supabaseApi": {
          "id": "Mu3plQ8MpRAvYJZM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-just-qualified-1b",
              "leftValue": "={{ $node['Parse AI Response'].json.qualificationComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7972bc2d-4eee-4056-89cd-94428aaeb7d9",
      "name": "IF — Just Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://niekbevisible.app.n8n.cloud/webhook/send-qualification-summary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversationId: $node['Parse AI Response'].json.conversation_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "39cd4f75-3c02-4de3-9e51-8f417cc55027",
      "name": "Trigger Workflow 3 — Send Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        32
      ]
    },
    {
      "parameters": {},
      "id": "04101867-b021-4fe6-906c-205f1fd7e880",
      "name": "No Operation — End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a62a98c-65d4-4080-87cd-60721115ade0",
              "leftValue": "={{ $json.message.content.respond }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        144
      ],
      "id": "9147e34f-b7b1-4e16-bea6-ffd7a704931f",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger — Every 15s": {
      "main": [
        [
          {
            "node": "Find Pending Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pending Conversations": {
      "main": [
        [
          {
            "node": "Filter — Ready to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Ready to Process": {
      "main": [
        [
          {
            "node": "Get Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message History": {
      "main": [
        [
          {
            "node": "Build OpenAI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Message": {
      "main": [
        [
          {
            "node": "OpenAI — Qualification Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Qualification Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation State": {
      "main": [
        [
          {
            "node": "Calculate Human Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Human Delay": {
      "main": [
        [
          {
            "node": "Wait — Human Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Human Delay": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply via Unipile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply via Unipile": {
      "main": [
        [
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Outbound Message": {
      "main": [
        [
          {
            "node": "IF — Just Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Just Qualified?": {
      "main": [
        [
          {
            "node": "Trigger Workflow 3 — Send Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation — End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46a1e3a4-61dc-439a-95e6-518dc3ae8624",
  "meta": {
    "instanceId": "280a1950d3062d1ee5011d8dc582c428d297888da331d4d57d58faa86aaa35bf"
  },
  "id": "N2DdCN07UKKntE6v",
  "tags": [
    {
      "createdAt": "2026-02-18T09:24:09.681Z",
      "updatedAt": "2026-02-18T09:24:09.681Z",
      "id": "wDacDrDTEPSclVrT",
      "name": "Chattie"
    }
  ]
}