Workflow 1 — WhatsApp Message Handler (Collector).json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "2eaee100-0d23-49f2-9621-ca6cbf55d2dc",
      "name": "Webhook — WhatsApp Incoming1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4208,
        1328
      ],
      "webhookId": "whatsapp-incoming-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "11bd9a38-ea41-4faa-b007-7f04bf0ab560",
      "name": "Respond 200 OK1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3984,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate & Extract Payload (supports multiple attachments + quoted attachments)\nconst body = $input.first().json.body || $input.first().json;\n\n// Validate account_id\nconst expectedAccountId = \"kACkIGbpSACHY7MvXS_afw\";\nif (body.account_id !== expectedAccountId) {\n  return []; // Stop silently — wrong account\n}\n\n// Ignore own messages\nif (body.is_sender === true) {\n  return []; // Stop silently — own message\n}\n\n// Extract direct attachments (body.attachments)\nconst directAttachments = (body.attachments && body.attachments.length > 0)\n  ? body.attachments.map(a => ({\n      id: a.attachment_id || a.id,\n      type: a.attachment_type || a.type,\n      source: 'direct'\n    }))\n  : [];\n\n// Extract quoted attachments (body.quoted.attachments) ← THIS WAS MISSING\nconst quotedAttachments = (body.quoted?.attachments && body.quoted.attachments.length > 0)\n  ? body.quoted.attachments.map(a => ({\n      id: a.attachment_id || a.id,\n      type: a.attachment_type || a.type,\n      source: 'quoted'\n    }))\n  : [];\n\n// Merge both arrays\nconst attachments = [...directAttachments, ...quotedAttachments];\n\nreturn [{\n  json: {\n    chat_id: body.chat_id || '',\n    message_text: body.message || '',\n    sender_phone: body.attendees?.[0]?.attendee_specifics?.phone_number || '',\n    has_attachment: attachments.length > 0,\n    attachments: attachments,\n    unipile_msg_id: body.message_id || '',\n    raw_event: body.event || ''\n  }\n}];"
      },
      "id": "ccd5ed41-2f7e-41f7-87db-a4fd023bf70b",
      "name": "Validate & Extract Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        1328
      ],
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "unipile_msg_id",
              "value": "=eq.{{ $json.unipile_msg_id }}"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3d183d15-84d9-43ee-97d5-dc0b7c27f48e",
      "name": "Check Duplicate Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2192,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-is-duplicate",
              "leftValue": "={{ Array.isArray($json) ? $json.length : (Array.isArray($json.body) ? $json.body.length : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "e5fa11f2-7c66-4d07-8ab1-152635e3e31e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6067c9c-9669-4228-a10d-47683ba95e7e",
      "name": "IF — Not Duplicate1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1968,
        1328
      ]
    },
    {
      "parameters": {
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "whatsapp_chat_id",
              "value": "=eq.{{ $node['Validate & Extract Payload1'].json.chat_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2c636778-b74d-42a2-ae11-3afe388cdd06",
      "name": "Get Conversation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-conv-exists",
              "leftValue": "={{ Number($json.id ? 1 : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "99a8d4a4-6dee-42da-bf62-574e4af49f3d",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b5158db9-def4-4bfc-a256-6648af9326ae",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "26c34e3b-5692-4f00-a47d-0090a91545fc",
      "name": "IF — Conversation Exists1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $node['Validate & Extract Payload1'].json.sender_phone }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "53c41580-3b00-4f4d-b47b-a162bc43ac3c",
      "name": "Create Contact1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1296,
        1424
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: (Array.isArray($json) ? $json[0].id : $json.id), whatsapp_chat_id: $node['Validate & Extract Payload1'].json.chat_id, status: 'active', bot_paused: false, qualification_complete: false, qualification_step: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "419459d2-ba81-454c-946f-cc0261320ea0",
      "name": "Create Conversation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        1424
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge conversation data from either existing or newly created path\nconst items = $input.all();\nconst data = items[0].json;\n\n// Handle both array response (Supabase) and direct object\nconst conv = Array.isArray(data) ? data[0] : (data.body ? (Array.isArray(data.body) ? data.body[0] : data.body) : data);\n\nreturn [{\n  json: {\n    conversation_id: conv.id,\n    contact_id: conv.contact_id,\n    whatsapp_chat_id: conv.whatsapp_chat_id || $node['Validate & Extract Payload1'].json.chat_id,\n    bot_paused: conv.bot_paused || false,\n    qualification_complete: conv.qualification_complete || false,\n    qualification_step: conv.qualification_step || 1,\n    collected_address: conv.collected_address || null,\n    collected_wishes: conv.collected_wishes || null,\n    collected_dimensions: conv.collected_dimensions || null,\n    collected_email: conv.collected_email || null,\n    collected_photos: conv.collected_photos || [],\n    status: conv.status || 'active',\n    // Carry forward message data\n    chat_id: $node['Validate & Extract Payload1'].json.chat_id,\n    message_text: $node['Validate & Extract Payload1'].json.message_text,\n    sender_phone: $node['Validate & Extract Payload1'].json.sender_phone,\n    has_attachment: $node['Validate & Extract Payload1'].json.has_attachment,\n    attachment_url: $node['Validate & Extract Payload1'].json.attachment_url || null,\n    unipile_msg_id: $node['Validate & Extract Payload1'].json.unipile_msg_id\n  }\n}];"
      },
      "id": "f7dd4890-a624-4401-8aa0-144877108d93",
      "name": "Normalize Conversation Data — Existing1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize newly-created conversation data\nconst items = $input.all();\nconst data = items[0].json;\n\nconst conv = Array.isArray(data) ? data[0] : (data.body ? (Array.isArray(data.body) ? data.body[0] : data.body) : data);\n\nreturn [{\n  json: {\n    conversation_id: conv.id,\n    contact_id: conv.contact_id,\n    whatsapp_chat_id: conv.whatsapp_chat_id || $node['Validate & Extract Payload1'].json.chat_id,\n    bot_paused: false,\n    qualification_complete: false,\n    qualification_step: 1,\n    collected_address: null,\n    collected_wishes: null,\n    collected_dimensions: null,\n    collected_email: null,\n    collected_photos: [],\n    status: 'active',\n    // Carry forward message data\n    chat_id: $node['Validate & Extract Payload1'].json.chat_id,\n    message_text: $node['Validate & Extract Payload1'].json.message_text,\n    sender_phone: $node['Validate & Extract Payload1'].json.sender_phone,\n    has_attachment: $node['Validate & Extract Payload1'].json.has_attachment,\n    attachment_url: $node['Validate & Extract Payload1'].json.attachment_url || null,\n    unipile_msg_id: $node['Validate & Extract Payload1'].json.unipile_msg_id\n  }\n}];"
      },
      "id": "4395c67d-26fd-4b24-be5a-0c4e7e9b6442",
      "name": "Normalize Conversation Data — New1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-bot-paused",
              "leftValue": "={{ $json.bot_paused }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d7b7848-66f4-4821-a359-4c4e6d0bb032",
      "name": "IF — Bot Paused1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_id: $json.conversation_id, direction: 'inbound', content: $json.message_text, unipile_msg_id: $json.unipile_msg_id, type: $json.has_attachment ? 'image' : 'text', media_url: $json.attachment_url || null, sent_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "1bf388c2-ebf4-47cd-b071-74b920737e9c",
      "name": "Save Inbound Message — Paused1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        1232
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-qual-complete",
              "leftValue": "={{ $json.qualification_complete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c94f3294-7280-4bde-98c8-c4f73734f7d2",
      "name": "IF — Qualification Complete1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_id: $json.conversation_id, direction: 'inbound', content: $json.message_text, unipile_msg_id: $json.unipile_msg_id, type: $json.has_attachment ? 'image' : 'text', media_url: $json.attachment_url || null, sent_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "7a4b5fb2-31cc-4b21-80e1-d123de95d871",
      "name": "Save Inbound Message — Qualified1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        1328
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.conversation_id }}"
            },
            {
              "name": "pending_since",
              "value": "is.null"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pending_since: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "81b7a89e-166e-4d68-b501-30baac6ea1e5",
      "name": "Update Pending Since1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        1424
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-has-attachment",
              "leftValue": "={{ $json.has_attachment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0903bc46-1c4c-4603-9fa9-8d162dd3886e",
      "name": "IF — Has Attachment1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3536,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Attachment Items\n// Converts the attachments array into individual n8n items\nconst input = $input.first().json;\nconst attachments = input.attachments || [];\n\nif (attachments.length === 0) {\n  return [{ json: { ...input, attachment_id: null, attachment_type: null, attachment_index: 0 } }];\n}\n\nreturn attachments.map((att, index) => ({\n  json: {\n    ...input,\n    attachment_id: att.id,\n    attachment_type: att.type,\n    attachment_index: index\n  }\n}));"
      },
      "id": "2a213881-3b05-48c0-bd77-3724b8d068c0",
      "name": "Prepare Attachment Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        1264
      ]
    },
    {
      "parameters": {
        "url": "=https://api20.unipile.com:15040/api/v1/messages/{{ $json.unipile_msg_id }}/attachments/{{ $json.attachment_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7d904218-99a7-4006-a8fd-b2e2905d868e",
      "name": "Fetch Attachment from Unipile1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3088,
        1264
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KdDOYvWmsn0w3P5s",
          "name": "Uniphile"
        }
      }
    },
    {
      "parameters": {
        "name": "={{$binary.data.fileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2864,
        1264
      ],
      "id": "5db86ff2-0089-4ee0-a203-79aeab5be454",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "70Pt8HIDLQ6KXk0Y",
          "name": "Charan Gdrive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a141f826-ac3e-4ab6-88a5-cafc909d5bcc",
              "name": "url",
              "value": "={{ 'https://drive.google.com/uc?export=view&id=' +$('Upload file1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        1264
      ],
      "id": "660053bf-fd8e-418a-9b20-cead50f61017",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rifktjxmadzfrdclxpfz.supabase.co/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_id: $json.conversation_id, direction: 'inbound', content: $json.message_text, unipile_msg_id: $json.unipile_msg_id, type: $json.has_attachment ? 'image' : 'text', media_url: $json.has_attachment ? ($('Edit Fields1').item.json.url ?? null) : null, sent_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "95f860c0-6b93-4deb-a12f-e1ce33508266",
      "name": "Save Inbound Message — Active1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        1520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "I1AKQYGeNizcWsiI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {
          "transferOwnership": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2672,
        1264
      ],
      "id": "93dbd99c-e433-4833-825a-36f3c8ad2491",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "70Pt8HIDLQ6KXk0Y",
          "name": "Charan Gdrive"
        }
      }
    }
  ],
  "connections": {
    "Webhook — WhatsApp Incoming1": {
      "main": [
        [
          {
            "node": "Respond 200 OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK1": {
      "main": [
        [
          {
            "node": "Validate & Extract Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract Payload1": {
      "main": [
        [
          {
            "node": "IF — Has Attachment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Message1": {
      "main": [
        [
          {
            "node": "IF — Not Duplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Not Duplicate1": {
      "main": [
        [
          {
            "node": "Get Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation1": {
      "main": [
        [
          {
            "node": "IF — Conversation Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Conversation Exists1": {
      "main": [
        [
          {
            "node": "Normalize Conversation Data — Existing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact1": {
      "main": [
        [
          {
            "node": "Create Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation1": {
      "main": [
        [
          {
            "node": "Normalize Conversation Data — New1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Conversation Data — Existing1": {
      "main": [
        [
          {
            "node": "IF — Bot Paused1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Conversation Data — New1": {
      "main": [
        [
          {
            "node": "IF — Bot Paused1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Bot Paused1": {
      "main": [
        [
          {
            "node": "Save Inbound Message — Paused1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF — Qualification Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Qualification Complete1": {
      "main": [
        [
          {
            "node": "Save Inbound Message — Qualified1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Inbound Message — Active1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Inbound Message — Qualified1": {
      "main": [
        [
          {
            "node": "Update Pending Since1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Attachment1": {
      "main": [
        [
          {
            "node": "Prepare Attachment Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duplicate Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachment Items1": {
      "main": [
        [
          {
            "node": "Fetch Attachment from Unipile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attachment from Unipile1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Share folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Check Duplicate Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Inbound Message — Active1": {
      "main": [
        [
          {
            "node": "Update Pending Since1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share folder": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6103a2320145fe974541bf1a458566a4cb3c085416cbbe1576bf2fa5e798d37"
  }
}